body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: #000000;
}

body, html {
    height: 100%;
}

header {
    width: 100%;
    position: fixed;
    background-color: white;
    left: 0;
    top: 0;
    box-shadow: rgb(220, 220, 220) 0 2px 10px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    flex: 0 0 auto;
    background-color: white;
    text-align: center;
    color: gray;
    border-top: 1px gray solid;
}

.header-content {
    width: 92%;
    max-width: 1300px;
    margin: auto;
    padding: 22px 0;
    height: 36px;
}

.header-content::after {
    clear: both;
    width: 0;
    height: 0;
    content: '';
    overflow: hidden;
    display: block;
}

.inline-block, .right-block, #header-button {
    display: inline-block;
    vertical-align: middle;
}

.right-block {
    float: right;
}

.header-icons {
    width: 30px;
    padding-left: 10px;
    vertical-align: middle;
}

#username-in-header {
    color: gray;
    font-family: "Times New Roman", serif;
    font-style: italic;
    margin-top: 8px;
}

.search {
    border-radius: 50px;
    border: 1px gray solid;
    height: 27px;
    margin-top: 5px;
    outline: none;

}

#logo {
    width: 180px;
    padding-right: 20px;
    margin-top: -17px;
}

.posts-container {
    max-width: 1300px;
    margin: 60px auto 80px;
    padding-top: 50px;
    width: 90%;
    overflow: hidden;
    box-sizing: border-box;
}

footer .footer-content {
    width: 92%;
    max-width: 1300px;
    margin: auto;
    height: 36px;
}

.make-new-post-area {
    background-color: white;
    border-radius: 30px;
    padding: 0.5rem;
    width: 97%;
    border: 1px solid deepskyblue;
}

.column-1, .column-2, .column-with-user-photo {
    display: inline-block;
}

.column-2 {
    width: 88%;
}

.column-1 {
    width: 9%;
}

.column-with-user-photo {
    width: 9%;
    vertical-align: top;
}

.username-container {
    margin-top: -1%;
}

.post-text {
    width: 85%;
    margin-top: -3%;
}

.user-photo {
    border-radius: 50%;
    width: 80px;
}

.new-post-textarea {
    resize: none;
    overflow: hidden;
    background-color: white;
    outline: none;
    width: 100%;
    border: 1px solid white;
    color: gray;
    font-family: "Arial", serif;
    font-style: italic;
}

.add-new-post {
    width: 70px;
    margin-left: auto;
    margin-top: 5px;
}

.add-post-button, .sign-in-button {
    height: 103%;
}
.sign-in-button{
    height: 27px;
}

.add-post-button, .load-more-button, .apply-button, .sign-in-button {
    border-radius: 50px;
    width: 100%;
    border: none;
    background-color: deepskyblue;
    color: white;
    text-align: center;
    outline: none;
}

.apply-button {
    width: 10%;
}

#posts-area {
    width: 100%;
}

.load-more-button {
    width: 20%;
    margin-top: 20px;
    height: 2em;
    margin-left: 39%;
    outline: none;
}

.action-area {
    display: flex;
}

.filter-area {
    background-color: white;
    border-radius: 30px;
    padding: 0.5rem;
    width: 97%;
    border: 1px solid deepskyblue;
    margin-top: 20px;
}

fieldset {
    background-color: white;
    outline: none;
    width: 97%;
    border: 1px solid white;
    color: gray;
    font-family: "Arial", serif;
    font-style: italic;
}

.filter-content {
    width: 96%;
}

.filter-container {
    padding-bottom: -10px;
    /*display: none;*/
}

.filter-textarea {
    resize: none;
    overflow: hidden;
    background-color: white;
    outline: none;
    width: 30%;
    border: 1px solid lightgray;
    color: gray;
    font-family: "Arial", serif;
    font-style: italic;
    border-radius: 5px;
    height: 15px;
    margin-right: 15px;
}

article {
    margin-top: 20px;
    background-color: white;
    border-radius: 30px;
    padding: 0.5rem;
    width: 97%;
    border: 1px solid deepskyblue;
}

.add-like {
    width: 20px;
    padding-left: 95px;
    opacity: 100%;
    margin-bottom: auto;
}

.action-container {
    display: flex;
    margin-left: auto;
}

.post-info {
    display: flex;
    padding-bottom: -5%;
}

.date-and-time {
    margin-left: auto;
    font-style: italic;
    font-size: small;
}

.change-icon, .add-photo {
    width: 25px;
}

.delete-icon {
    width: 24px;
    margin-top: -5%;
}

.delete-post {
    margin-top: -5%;
}

.username {
    color: gray;
    font-style: italic;
}

.like-button, .change-post-button, .delete-post-button, .log-out-button {
    background: none;
    border: none;
    outline: none;
}

.delete-post-button {
    margin-left: -15%;
    margin-top: 6%;
}

@media only screen and (max-width: 1000px) {
    .column-1, .column-2 {
        display: grid;
    }

    article, .make-new-post-area, .filter-area {
        width: 95%;
    }
}

@media only screen and (max-width: 500px) {
    article, .make-new-post-area, .filter-area {
        width: 90%;
    }
}